@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<EMSI_Corporation.Models.Cliente>


<main>
    <div class="seccion d-flex flex-row w-100 gap-4">
        <div class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center selected"><h1 class="titulo">Clientes</h1></div>
        <a class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center" asp-controller="Acceso" asp-action="Stakeholders_Proovedor"><h1 class="titulo">Proveedores</h1></a>
    </div>

    <a asp-controller="Acceso" asp-action="Agregar_Cliente">Agregar cliente</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombres / Razon Social</th>
                <th scope="col">Tipo de cliente</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Numero de documento</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cli in Model)
            {
                <tr>
                    <th scope="row">@cli.IdCliente</th>
                    <td>@cli.NomCliente</td>
                    <td>@cli.TipoCliente</td>
                    <td>@cli.TipoDocumento</td>
                    <td>@cli.NumDocumento</td>
                    <td>@cli.NumCelular</td>
                    <td>@cli.Correo</td>
                    <td><a asp-controller="Acceso" asp-action="Editar_Cliente" asp-route-id=@cli.IdCliente>editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>