@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var cliente_trabajador = ViewBag.cliente_trabajador as EMSI_Corporation.ViewModels.ClienteTrabajadorVM ;
    var mantenimientos = ViewBag.mantenimientos as List<EMSI_Corporation.Models.Mantenimiento>;
}
@model EMSI_Corporation.Models.Mantenimiento

<main>
    <div class="seccion d-flex flex-row w-100 gap-4">
        <div class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center selected"><h1 class="titulo">Clientes</h1></div>
        <a class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center" asp-controller="Acceso" asp-action="Stakeholders_Proovedor"><h1 class="titulo">Proveedores</h1></a>
    </div>

    <a asp-controller="Acceso" asp-action="Agregar_Cliente">Agregar cliente</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id mantenimiento</th>
                <th scope="col">Extintor</th>
                <th scope="col">Empleado a cargo</th>
                <th scope="col">Fecha de mantenimiento</th>
                <th scope="col">Porcentaje de Validez</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mant in mantenimientos)
            {
                bool[] conteoArr = { mant.BarometroCorrecto, mant.BoquillaCorrecta, mant.BoquillaCorrecta, mant.LugarAdecuado, mant.AperturaCorrecta, mant.AperturaCorrecta, mant.EstadoIndicador, mant.EstadoPrecinto, mant.ExteriorCorrecto, mant.MangueraCorrecta, mant.InstruccionesVisibles, mant.PesoCorrecto, mant.PresionCorrecta, mant.Señalización, mant.Visible};
                var conteo = conteoArr.Count(x => x);
                <tr>
                    <th scope="row">@mant.IdMantenimiento</th>
                    <td>@mant.Extintor.IdExtintor</td>
                    <td>@mant.Empleado.nomEmpleado</td>
                    <td>@mant.FechaMantenimiento</td>
                    <td>@(100 * conteo/conteoArr.Length)</td>
                    <td><a asp-controller="Acceso" asp-action="Editar_Cliente" asp-route-id=@mant.IdMantenimiento>editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>