@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EMSI_Corporation.Models.Recarga>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ExtintorId = ViewBag.ExtintorId;

}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-gradient text-white" style="background: linear-gradient(90deg, #0d6efd, #6610f2);">
            <h3 class="mb-0">Recargas</h3>
        </div>
        <div class="card-body">
            <a asp-controller="Servicio" asp-action="SeleccionClienteTrabajador">Registrar Servicio</a>
            <a asp-controller="Venta" asp-action="Registrar">Registrar Venta</a>
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered align-middle">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>ID</th>
                                <th>Id Extintor</th>
                                <th>Nombre empleado</th>
                                <th>Fecha mantenimiento</th>
                                <th>Nombre cliente</th>
                                <th>Precio unitario</th>
                                <th>% de validez</th>
                                <th>Id Reporte</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rec in Model)
                            {
                                <tr class="text-center">
                                    <td>@rec.IdRecarga</td>
                                    <td>@rec.Extintor_ID</td>
                                    <td>@rec.Empleado.nomEmpleado</td>
                                    <td>@rec.FechaRecarga.ToString("yyyy-MM-dd")</td>
                                    <td>@rec.ReporteServicio.Cliente.NomCliente</td>
                                    <td>@rec.ReporteServicio.ComprobanteServicio.PrecioUnitario</td>
                                    <td>%</td>
                                    <td>@rec.ReporteServicio_ID</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {

                <div class="alert alert-warning text-center" role="alert">
                    No hay mantenimientos registrados.
                </div>
            }
        </div>
    </div>
</div>
